
body {

color: green;
font-family:verdana,Arial;
font-weight: normal;

}
<!-- overline / underline (both can be used at once just type underline overline) -->

h1, h2 {

text-decoration:line-through;

}

.blue {

color: blue;
font-size: 25px;


}

p.purple {

color: purple;
font-size: 25px;


}


 