body{
	background-color:yellow;
	
}

#main{
background-color:red;
border:2px solid black;	
	
}

#image{
	
	float:left;
	width:2%;
	margin-right:10px;
	margin-bottom:300px;

}

<!-- can be left/right

margin is an invisible taking space-->