body{
	background-color: red;
	margin:0;
	font-familt : georgia;
	font-size:14px;
}

#header{
	background-color:yellow;
	margin:10px;
	height:90px;
	border-radius: 5 px;
}

#navbar{
	background-color:yellow;
	margin:10px;
	height:35px;
	border-radius: 5 px;
}
