body{
	background-color: red;
	margin:0;
	font-familt : georgia;
	font-size:14px;
}

#header{
	background-color:yellow;
	margin:10px;
	height:90px;
	border-radius: 5 px;
}

#navbar{
	background-color:yellow;
	margin:10px;
	height:35px;
	border-radius: 5 px;
}

h1{
	
	color:blue;
}

.main{
	
	background-color:green;
	margin:10px;
	border-radius:5px;
	padding:20px;
	font-size:110%
}

/* the main will expand itself whenever the content
increases */